// Header styles

header#site-header {
	
	display: block;
		
	width: 100%;
	height: 50px;
			
	@include md-up {
		margin-bottom: 100px;
	}
	
	nav {
		display: inline-block;
	
		margin-top: 20px;
			
		@include md-up {
			margin-top: 50px;
		}
		
		a {
			
			text-decoration: 		none;
			color:					$header-color;
			
			font-size: 				20px;
			@include sm {
				font-size: 			22px;	
			}
			@include md {
				font-size: 			24px;	
			}
			@include lg {
				font-size: 			26px;	
			}
			@include xl {
				font-size: 			28px;	
			}

			font-weight: 600;
			
			transition: all 0.2s;
			
			&:hover,
			&:focus {
				text-decoration: 	none;
				color:				$header-color-hover;
				transition: 		all 0.2s;
			}
		}
	}
}

body#post header#site-header {

	height: 100px;
			
	@include md-up {
		margin-bottom: 100px;
	}

}