// OVERRIDE VARIABLES FOR SUBSITES

$padding--h2--xs:		$font-size--h2--xs 0 $font-size--h2--xs 0;
$padding--h2--sm:		$font-size--h2--sm 0 $font-size--h2--sm 0;
$padding--h2--md:		$font-size--h2--md 0 $font-size--h2--md 0;
$padding--h2--lg:		$font-size--h2--lg 0 $font-size--h2--lg 0;
$padding--h2--xl:		$font-size--h2--xl 0 $font-size--h2--xl 0;

$text-align--h2:		left;